<br>
<br>
<br>
<footer class="_footer">
            <!-- <hr class="mb-3 mx-5" /> -->
    <div class="container-fluid bg-primary py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row py-0"></div>
                </div>
                <div class="col-md-12">
                    <img src="../../../assets/images/logo2.png" class="_logo" />
                </div>
            </div>
        </div>
<br>
        <p class="text-center text-muted">
           This is a 100% free opportunity for individuals who are unemployed and are looking for work.
        </p>

            <!--/.footer-->
            <div class="footer-copyright text-center py-3"><i>
                © 2020 The Plug:
                <a [routerLink]="['#']"> All Rights Reserved.</a>
            </i>
            </div>
            <!--/.footer-bottom-->
    </div>
</footer>